h1{
color: brown;    
font-size: x-large;
background-color: darkgoldenrod;
font-weight: bold;
text-align: center;
font-style: italic;
text-decoration: underline;

}
p{
color: aqua;
 font-size: small;
 font-weight: 100;
 font-style: oblique;
 background-color: crimson;


 
}
